.facts-container {
    margin-top: 20vh;
    width: 100%;
    height: fit-content;
    min-height: 50vh;
    transition: 1s all;
    background-color:#c9a0dc54;
transform: none;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;

    .facts-wrapper {
        // opacity: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;   
        width: 90%;
        overflow: hidden;
        height: 50vh;
        top: 50vh;
    position: sticky;
    background-color: rgb(255, 255, 255);
   

    }
    .testScroll {
        // height: 40vh;
    min-width: 100%;
    z-index: 2;

    }
}