.container-rubon {
    margin-top: 10vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 100vw;
.rubon {
    width: 100%;
    height: fit-content;
background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    align-items: center;
    justify-content: center;  

}
        h1 {
            color: white;
            margin: 5px;
           white-space: nowrap;
            font-size: 4vw;
            letter-spacing: 5px;
            
            font-weight: 300;
            font-family: montreal;
        }
}