
.rubon {
    width: 1000%;
    height: fit-content;
    min-height: 9vh;
// background-color: #ff9771c9;
background-color: #99b2ddbe;
border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    transition: 0.5s all;
  h1 {
            color: white;
            margin: 5px;
           white-space: nowrap;
            font-size: 3.8vw;
            letter-spacing: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;  
            font-weight: 500;
            font-family: campton;

        }
}
     
.rubon3 {
    z-index: -1;
background-color: #D65DB1;

}

@media screen and (max-width : 600px) {
    .rubon {
        min-height: 10vh;
        h1 {
font-size: 7vw;
        }}
 }
 .rubon.pink {
background-color: #99b2dd6c;

 }