
.rubon {
    width: 1000%;
    height: fit-content;
    min-height: 14vh;
// background-color: #ff9771c9;
background-color: #f7bb90;
border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    transition: 2s all;
  h1 {
            color: white;
            margin: 5px;
           white-space: nowrap;
            font-size: 4.7vw;
            letter-spacing: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;  
            font-weight: 300;
            font-family: montreal;
        }
}
     
.rubon3 {
    z-index: -1;
background-color: #D65DB1;

}