.container-fall {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30vw;
    // background-color: rgb(229, 127, 255);
    transition: 1s all;
}