.big-container-activities{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-bottom: 10vh;

.rubons {
    margin-top: 5vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.container-activities {
    margin-top: 0vh;
    width: 100vw;
    height: 250vh;
    min-height: 100vh;
    transition: 1s all;
    background-color: #c9a0dc54;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 5;
    scroll-behavior: smooth;
      .wrapper-rectangle{
           // overflow-x: hidden;
         transition: 1s all;
         position: absolute;
          top: -30vh;
          width: 100vw;

        .rectangle {
         top: 30vh;
         right: 0;
         transition: 1s all;
        margin: 0;
        width: 99vw;
        height: 100vh;
        z-index: 1;
        background-color: #e6a6ca;
    }
    }
    
    .activities-wrapper {
    z-index: 5;
    scroll-behavior: smooth;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        overflow: hidden;
        height: 100vh;
        top: 30vh;
        position: sticky;
        background-color: #efc8de;
        .title {
            width: 100vw;
            height: 100%;
            display: flex;
                align-items: center;
                justify-content: center;
            h1 {
                font-family: campton;
                flex-direction: column;
                font-size: 4vw;
                width: 90vw;
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: 10px;
                color: rgb(28, 27, 78);
                div {
                    white-space: nowrap;
                }
            }
        }
        .list {
            width: 90%;
            height: 100%;
            position: absolute;
            z-index: 5;
            margin: 50px;
            transition: 1s transform;
           
            }
           
            .element-activities{
            position: absolute;
                     width: 50vw;
                    height: 30vw;
                    border-radius: 20px;
    transition: 0.3s top;

                }
                .element1 {
                    top: 60vw;

                }
                .element2{
                    top: 100vw;
                    right: 10vw;

                }
                .element3 {
                    top: 155vw;
                    left: 0vw;

                }
                .element4 {
                    top: 180vw;
                    right: 0vw;
                   
                }
                .element5 {
                    top: 220vw;
                    right: 20vw;
                
                }
        }
    }
    .svg {
        position: absolute;
        width: 12vw;
        height: 12vw;
    
    }    .svg1 {
            top: 60vw;
            left: 10vw;
        }
        .svg2 {
            top: 150vw;
            right: 10vw;
        }
        .svg3 {
            top: 100vw;
        }
}
.link {
position: absolute;
bottom: 25vh;
height: 7vw;
width: fit-content;
min-width: 20vw;
background-color: rgba(0, 255, 255, 0);
right: 5vw;
overflow: hidden;
z-index: 5;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
    h2 {
        transition: 1s all;
   transform: translateY(20vw);
   font-family: campton;
   font-size: 2.5vw;
   color: #ff9771c9;
}}
