.slide {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin: -2rem;

  .wrapper-card {
    transition: all 0.7s;
    color: rgb(255, 255, 255);
    background-color: #441f4998;
    position: absolute;
    height: 100%;
    z-index: -2;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .image {
    transition: all 1s;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    transform: translate(200px);
    transition: all 1s;
    opacity: 0;

    h1 {
      font-size: 2rem;
    }
  }
  .position {
    transform: translate(200px);
    opacity: 0;
    transition: all 1s;
    p {
      font-size: 1.5rem;
      margin: 0;
      font-weight: 100;
      font-family: campton;
      color: white;
    }
  }
}
.slide.hide {
  filter: blur(0.5);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-40px, 30px);

  li {
    width: 32px;
    height: 32px;
    list-style-type: none;
    margin: 0;
  }
  ul {
    text-decoration: none;
    text-decoration-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.wrapper-card {
  background-color: #000000;

  height: 20%;
  width: 60%;
  transform: translate(30%, 10%);
  bottom: 10%;
}
.position,
.quote {
  color: rgba(255, 255, 255, 0);
}

.slide.down {
  transform: translateY(-50px);
}
.slide {
  left: 0;
  opacity: 0;
  position: absolute;
}
.slide1 {
  opacity: 1;
  transform: translate(0%);
}
.slide2 {
  opacity: 1;

  transform: translate(calc(20vw - 25%));
}
.slide3 {
  opacity: 1;
  transform: translate(calc(40vw - 50%));
}
.slide4 {
  opacity: 1;
  transform: translate(calc(60vw - 75%));
}
.slide5 {
  opacity: 1;
  transform: translate(calc(80vw - 100%));
}
.slide6 {
  opacity: 1;
  transform: translate(calc(100vw - 125%));
}
// .slide7 {
//     opacity: 1;
//     transform: translate(calc(120vw - 5%));
// }
// .slide8 {
//     opacity: 1;
//     transform: translate(calc(100vw - 75%));
// }

.more-container .slider-container .slide:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000a2;
  z-index: 99;
  overflow: hidden;
  img.image {
    opacity: 1;
    transform: translateY(-100%);
    transition: all 1s;
  }
  img.imageLowOpacity {
    opacity: 0.5;
  }
  .title {
    transform: translate(20px);
    opacity: 1;
  }
  .position {
    transform: translate(0px);
    opacity: 1;
  }
}
